{% extends 'base.html' %}

{% block title %}Apply for Bid | SE Legacy{% endblock %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    <div class="container my-5">
        {% for category, message in messages %}
            {% if category == 'success' %}
                <div class="alert alert-success mx-5" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger mx-5" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endwith %}


<div class="pt-5">
    <div class="container">
        <h1 class="text-center">Apply for Bid</h1>
    </div>
</div>


<div class="py-5">
    <div class="container">
        <h3 class="mb-5">Create a New Project</h3>
        <form action="{{ url_for('views.manage_project') }}" method="POST" enctype="multipart/form-data">

            <div class="form-floating mb-4 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="project_title" name="project_title"
                    placeholder="Project Title">
                <label for="project_title">Project Title</label>
            </div>

            <div class="mb-4">
                <select name="bid_type" class="form-select" 
                    style="width:auto" id="bid_type">

                    <option selected disabled="disabled">Choose a bid type</option>
                    <option value="RFP">Request for Proposal (RFP)</option>
                    <option value="RFQ">Request for Quote (RFQ)</option>
                    <option value="RFI">Request for Information (RFI)</option>
                </select>
            </div>

            <div class="form-floating mb-4 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="organization" name="organization"
                    placeholder="Organization">
                <label for="organization">Organization</label>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <label for="issue_date" class="form-label">Issue date:</label>
                    <input type="date" id="issue_date" name="issue_date" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 mb-4">
                    <label for="close_date" class="form-label">Close date:</label>
                    <input type="date" id="close_date" name="close_date" class="form-control">
                </div>
            </div>

            <div class="form-floating mb-3 col-md-12 col-lg-8">
                <textarea class="form-control" id="notes" name="notes"
                    placeholder="Notes" style="height: 100px;"></textarea>
                <label for="notes">Notes</label>
            </div>    

            <div class="mb-4 col-md-8 col-lg-6">
                <input type="file" name="file[]" class="form-control" multiple>
                <label for="file" class="form-label">**PDFs only**</label>
                <p>To submit multiple files, hold down the control key (Ctrl)</p>
            </div>

            <button type="submit" 
                class="btn btn-primary"
                style="width:auto">
                Submit project
            </button>

        </form>
    </div>
</div>



{% endblock %}